.card {
    display: inline-block;
    padding: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: fit-content;
    height: fit-content;
}